stages:
  - build-images
  - check
  - build
  - test
  - doc

variables:
  RUST_BASE_IMAGE: "$CI_REGISTRY_IMAGE/rust/base:$CI_COMMIT_REF_SLUG"

default:
  interruptible: true
  tags:
    - linux
    - docker
    - amd64

.image:build-push:
  stage: build-images
  image:
    name: gcr.io/kaniko-project/executor:v1.13.0-debug
    entrypoint: [""]
  script:
    - >-
      /kaniko/executor
      --snapshot-mode=redo
      --context "$CI_PROJECT_DIR/images/$IMAGE"
      --build-arg BASE_IMAGE
      --destination "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_REF_SLUG"
      --registry-certificate "$CI_REGISTRY=$CI_SERVER_TLS_CA_FILE"

.rules:event:push: &rules-event-push
  $CI_PIPELINE_SOURCE == "push"

.needs:image:rust:base: &needs-image-rust-base
  needs:
    - job: image:build-push:rust:base
      optional: true

image:build-push:rust:base:
  extends: .image:build-push
  variables:
    IMAGE: rust/base
  rules:
    - if: *rules-event-push
      changes:
        - images/rust/base/*

image:build-push:rust:asn1c:
  extends: .image:build-push
  variables:
    IMAGE: rust/asn1c
    BASE_IMAGE: "$RUST_BASE_IMAGE"
  rules:
    - if: *rules-event-push
      changes:
        - images/rust/asn1c/*
    - !reference [ image:build-push:rust:base, rules ]
  <<: *needs-image-rust-base

image:build-push:rust:xbackend:
  extends: .image:build-push
  variables:
    IMAGE: rust/xbackend
    BASE_IMAGE: "$RUST_BASE_IMAGE"
  rules:
    - if: *rules-event-push
      changes:
        - images/rust/xbackend/*
    - !reference [ image:build-push:rust:base, rules ]
  <<: *needs-image-rust-base

.cargo:
  image: "$CI_REGISTRY_IMAGE/$IMAGE:$CI_COMMIT_REF_SLUG"
  before_script:
    - rustup update
    - cd "$SUBDIR"
  variables:
    IMAGE: "rust/base"
  <<: *needs-image-rust-base
  needs:
    - job: image:build-push:rust:asn1c
      optional: true
  parallel:
    matrix:
      - SUBDIR: "protocol"
        IMAGE: "rust/asn1c"
      - SUBDIR: "state_machine"
      - SUBDIR: "state_machine/derive"

.cargo:debug:
  extends: .cargo

.cargo:release:
  extends: .cargo
  variables:
    FLAGS: "--release"

cargo:format-check:
  extends: .cargo
  stage: check
  before_script:
    - !reference [.cargo, before_script]
    - rustup component add rustfmt
  script:
    - cargo fmt -- --check

.cargo:check: &cargo-check
  stage: check
  script:
    - cargo check $FLAGS

cargo:check:debug:
  extends: .cargo:debug
  <<: *cargo-check

cargo:check:release:
  extends: .cargo:release
  <<: *cargo-check

.cargo:build: &cargo-build
  stage: build
  script:
    - cargo build $FLAGS

cargo:build:debug:
  extends: .cargo:debug
  <<: *cargo-build

cargo:build:release:
  extends: .cargo:release
  <<: *cargo-build

.cargo:test: &cargo-test
  stage: test
  script:
    - cargo test $FLAGS

cargo:test:debug:
  extends: .cargo:debug
  <<: *cargo-test

cargo:test:release:
  extends: .cargo:release
  <<: *cargo-test

.cargo:doc: &cargo-doc
  stage: doc
  script:
    - cargo doc $FLAGS

cargo:doc:debug:
  extends: .cargo:debug
  <<: *cargo-doc

cargo:doc:release:
  extends: .cargo:release
  <<: *cargo-doc
