stages:
  - create-images
  - check-build-test
  - package
  - doc

.architectures:all:
  - amd64
  - arm64

.crates:package:
  - client
  - server
.crates:no-extra-dependencies: "metrics,protocol,state_machine"
.crates:fips-dependencies: "channel"
.crates:server-dependencies: "server"
.crates:client-dependencies: "client"

.images:debian:
  - ubuntu:20.04
  - ubuntu:22.04
  - ubuntu:24.04
.images:fedora:
  - fedora:40
.images:all:
  - ubuntu:20.04
  - ubuntu:22.04
  - ubuntu:24.04
  - fedora:40

.runner-arch:independent:
  tags:
    - linux
    - docker
.runner-arch:dependent:
  tags:
    - linux
    - docker
    - $ARCHITECTURE

.targets:all:
  - rust-image
  - fips-capable-image
  - client-image
  - server-image

.create-images:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
    - if: $CI_COMMIT_BRANCH
      changes:
        paths:
          - ci/**/*
          - .gitlab-ci.yml
        compare_to: main
      variables:
        IMAGE_VERSION: "branch-$CI_COMMIT_BRANCH"

create-images:build:
  stage: create-images
  extends:
    - .runner-arch:dependent
    - .create-images
  image:
    name: gcr.io/kaniko-project/executor:v1.19.2-debug
    entrypoint: [""]
  variables:
    IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
  script:
    - >-
      /kaniko/executor
      --snapshot-mode redo
      --single-snapshot
      --ignore-var-run
      --ignore-path /dev
      --ignore-path /proc
      --use-new-run
      --context "$CI_PROJECT_DIR/ci/images/"
      --build-arg IMAGE_BASE
      --build-arg OS_VARIANT
      --build-arg ARCHITECTURE
      --target $IMAGE_TARGET
      --skip-unused-stages
      --destination "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$ARCHITECTURE-$IMAGE_BASE"
      --registry-certificate "$CI_REGISTRY=$CI_SERVER_TLS_CA_FILE"
  parallel:
    matrix:
      - OS_VARIANT: debian
        IMAGE_BASE: !reference [.images:debian]
        ARCHITECTURE: !reference [.architectures:all]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: !reference [.images:fedora]
        ARCHITECTURE: !reference [.architectures:all]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: fedora:40
        ARCHITECTURE: amd64
        IMAGE_TARGET: client-image-windows

create-images:deploy-manifest:
  stage: create-images
  image:
    name: mplatform/manifest-tool:alpine
    entrypoint: [""]
  variables:
    PLATFORMS: linux/amd64,linux/arm64
  extends:
    - .runner-arch:independent
    - .create-images
  script:
    - cat "$CI_SERVER_TLS_CA_FILE" >> /etc/ssl/certs/ca-certificates.crt
    - >-
      /manifest-tool
      --username $CI_REGISTRY_USER
      --password $CI_REGISTRY_PASSWORD
      push
      from-args
      --platforms $PLATFORMS
      --template "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-ARCH-$IMAGE_BASE"
      --target "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$IMAGE_BASE"
  parallel:
    matrix:
      - OS_VARIANT: debian
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: !reference [.images:fedora]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: fedora:40
        ARCHITECTURE: amd64
        IMAGE_TARGET: client-image-windows
        PLATFORMS: linux/amd64
  needs:
    - job: create-images:build

.custom-image:
  interruptible: true
  variables:
    OS_VARIANT: debian
    IMAGE_BASE: ubuntu:20.04
    IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
    IMAGE: "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$IMAGE_BASE"
  image: $IMAGE
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        paths:
          - ci/**/*
          - .gitlab-ci.yml
        compare_to: main
      variables:
        IMAGE_VERSION: "branch-$CI_COMMIT_BRANCH"
    - if: $CI_COMMIT_BRANCH
      variables:
        IMAGE_VERSION: "$CI_DEFAULT_BRANCH"

.cargo:
  extends: .custom-image
  interruptible: true
  variables:
    IMAGE_TARGET: rust-image
  before_script:
    - export CARGO_ARGS=`sed -e 's/^/-p aperturec-/g' -e 's/,/ -p aperturec-/g' -e 's/_/-/g' <<< $CRATES`

cargo:check-build-test:
  stage: check-build-test
  extends:
    - .runner-arch:dependent
    - .cargo
  script:
    - cargo fmt $CARGO_ARGS -- --check
    - cargo build $CARGO_ARGS
    - Xvfb :5 &> /dev/null &
    - export DISPLAY=:5
    - RUST_BACKTRACE=1 cargo test $CARGO_ARGS
    - cargo build $CARGO_ARGS --release
    - |-
      if [[ -f target/release/aperturec-$CRATES ]]; then
        mv target/release/aperturec-$CRATES target/release/aperturec-$CRATES-$IMAGE_BASE-$ARCHITECTURE
      fi
    - git diff-index --quiet HEAD
  parallel:
    matrix:
      - CRATES: !reference [.crates:no-extra-dependencies]
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: rust-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATES: !reference [.crates:fips-dependencies]
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: fips-capable-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATES: server
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: server-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATES: client
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: client-image
        ARCHITECTURE: !reference [.architectures:all]
  needs:
    - job: create-images:deploy-manifest
      optional: true
  artifacts:
    paths: [target/release/aperturec-$CRATES-$IMAGE_BASE-$ARCHITECTURE]

cargo:check-build-windows-client:
  stage: check-build-test
  extends:
    - .runner-arch:dependent
    - .cargo
  script:
    - cargo fmt $CARGO_ARGS -- --check
    - cargo build $CARGO_ARGS
    - mkdir test_executables
    - cargo test $CARGO_ARGS -q --no-run --message-format=json | jq -r 'select(.profile.test == true) | .filenames[]' | xargs -I {} cp {} test_executables/
    - cargo build $CARGO_ARGS --release
    - mv target/x86_64-pc-windows-gnu/release/aperturec-$CRATES.exe .
    - git diff-index --quiet HEAD
  variables:
    CRATES: client
    IMAGE_BASE: fedora:40
    IMAGE_TARGET: client-image-windows
    ARCHITECTURE: amd64
  needs:
    - job: create-images:deploy-manifest
      optional: true
  artifacts:
    paths: [test_executables, aperturec-$CRATES.exe]

cargo:doc:
  stage: doc
  extends:
    - .cargo
    - .runner-arch:independent
  script:
    - cargo doc $CARGO_ARGS
  artifacts:
    paths:
      - target/doc/
  parallel:
    matrix:
      - CRATES: !reference [.crates:no-extra-dependencies]
        IMAGE_TARGET: rust-image
      - CRATES: !reference [.crates:server-dependencies]
        IMAGE_TARGET: server-image
      - CRATES: !reference [.crates:client-dependencies]
        IMAGE_TARGET: client-image
  needs:
    - job: cargo:check-build-test

package:windows-client:
  stage: package
  extends:
    - .runner-arch:dependent
    - .custom-image
  script:
    - $CI_PROJECT_DIR/ci/scripts/create-windows-package.sh
  variables:
    CRATES: client
    IMAGE_BASE: fedora:40
    IMAGE_TARGET: client-image-windows
    ARCHITECTURE: amd64
  needs:
    - job: cargo:check-build-windows-client
  artifacts:
    paths: [aperturec-client-win.zip]

package:create-deb:
  stage: package
  extends:
    - .cargo
    - .runner-arch:dependent
  script:
    - mv target/release/aperturec-$CRATES-$IMAGE_BASE-$ARCHITECTURE target/release/aperturec-$CRATES
    - cargo deb $CARGO_ARGS -o ./target/$(lsb_release -i -s | tr "A-Z" "a-z")/$(lsb_release -c -s)/ --deb-revision="$CI_PIPELINE_IID" --no-build -- --release
  artifacts:
    paths: [target/*/*/aperturec-$CRATES_*_*.deb]
  needs:
    - job: cargo:check-build-test
      parallel:
        matrix:
          - CRATES: server
            IMAGE_BASE: !reference [.images:debian]
            IMAGE_TARGET: server-image
            ARCHIECTURE: !reference [.architectures:all]
          - CRATES: client
            IMAGE_BASE: !reference [.images:debian]
            IMAGE_TARGET: client-image
            ARCHIECTURE: !reference [.architectures:all]
  parallel:
    matrix:
      - CRATES: server
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: server-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATES: client
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: client-image
        ARCHITECTURE: !reference [.architectures:all]

package:push-deb:
  stage: package
  extends:
    - .runner-arch:independent
  image:
    name: ruby:slim-bookworm
    entrypoint: [""]
  script:
    - gem install package_cloud
    - ./ci/scripts/package_upload.sh
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH && $CI_PIPELINE_SOURCE != "schedule"
  needs:
    - job: package:create-deb
