stages:
  - build-images
  - check
  - build
  - test
  - doc

variables:
  RUST_BASE_IMAGE: "$CI_REGISTRY_IMAGE/rust/base:$CI_COMMIT_REF_SLUG"
  RUST_XBACKEND_IMAGE: "$CI_REGISTRY_IMAGE/rust/xbackend:$CI_COMMIT_REF_SLUG"

default:
  interruptible: true
  tags:
    - linux
    - docker
    - amd64

.docker:build-push:
  stage: build-images
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - >-
      /kaniko/executor
      --cache=true
      --cache-copy-layers=true
      --cache-run-layers=true
      --cache-ttl=24h
      --cache-repo="$CI_REGISTRY_IMAGE"
      --compressed-caching=false
      --snapshotMode=redo
      --context "$CI_PROJECT_DIR/images/$IMAGE_NAME"
      --build-arg BASE_IMAGE
      --destination "$CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_SLUG"
      --registry-certificate "$CI_REGISTRY=$CI_SERVER_TLS_CA_FILE"

images:build-push:base:
  extends: .docker:build-push
  variables:
    IMAGE_NAME: rust/base

images:build-push:xbackend:
  extends: .docker:build-push
  variables:
    BASE_IMAGE: "$RUST_BASE_IMAGE"
    IMAGE_NAME: rust/xbackend
  needs:
    - images:build-push:base

.cargo:
  image: "$RUST_BASE_IMAGE"
  before_script:
    - rustup update
    - cd "$SUBDIR"
  variables:
    IMAGE: "$RUST_BASE_IMAGE"
  parallel:
    matrix:
      - SUBDIR: "protocol"
      - SUBDIR: "state_machine"

.cargo:debug:
  extends: .cargo

.cargo:release:
  extends: .cargo
  variables:
    FLAGS: "--release"

cargo:format-check:
  extends: .cargo
  stage: check
  before_script:
    - !reference [.cargo, before_script]
    - rustup component add rustfmt
  script:
    - cargo fmt -- --check
  needs:
    - images:build-push:base

.cargo:check: &cargo-check
  stage: check
  script:
    - cargo check $FLAGS
  needs:
    - images:build-push:base

cargo:check:debug:
  extends: .cargo:debug
  <<: *cargo-check

cargo:check:release:
  extends: .cargo:release
  <<: *cargo-check

.cargo:build: &cargo-build
  stage: build
  script:
    - cargo build $FLAGS
  needs:
    - images:build-push:base

cargo:build:debug:
  extends: .cargo:debug
  <<: *cargo-build

cargo:build:release:
  extends: .cargo:release
  <<: *cargo-build

.cargo:test: &cargo-test
  stage: test
  script:
    - cargo test $FLAGS
  needs:
    - images:build-push:base

cargo:test:debug:
  extends: .cargo:debug
  <<: *cargo-test

cargo:test:release:
  extends: .cargo:release
  <<: *cargo-test

.cargo:doc: &cargo-doc
  stage: doc
  script:
    - cargo doc $FLAGS
  needs:
    - images:build-push:base

cargo:doc:debug:
  extends: .cargo:debug
  <<: *cargo-doc

cargo:doc:release:
  extends: .cargo:release
  <<: *cargo-doc
