stages:
  - check
  - build
  - test
  - doc

default:
  interruptible: true
  tags:
    - linux
    - docker
    - amd64

.cargo-job:
  image: rust
  before_script:
    - rustup update
    - cd "$SUBDIR"
  parallel:
    matrix:
      - SUBDIR: "protocol"
      - SUBDIR: "state_machine"

cargo:format-check:
  extends: .cargo-job
  stage: check
  before_script:
    - !reference [.cargo-job, before_script]
    - rustup component add rustfmt
  script:
    - cargo fmt -- --check

cargo:check:
  extends: .cargo-job
  stage: check
  script:
    - cargo check

cargo:build:debug:
  extends: .cargo-job
  stage: build
  script:
    - cargo build

cargo:build:release:
  extends: .cargo-job
  stage: build
  script:
    - cargo build --release

cargo:test:
  extends: .cargo-job
  stage: test
  script:
    - cargo test

cargo:doc:
  extends: .cargo-job
  stage: doc
  script:
    - cargo doc
