stages:
  - create-images
  - check-build-test
  - package
  - doc

.architectures:all:
  - amd64
  - arm64

.crates:all:
  - channel
  - client
  - metrics
  - protocol
  - server
  - state_machine
  - trace
.crates:package:
  - client
  - server
.crates:no-extra-depends:
  - channel
  - metrics
  - protocol
  - state_machine
  - trace

.images:debian:
  - ubuntu:20.04
  - ubuntu:22.04
.images:fedora:
  - fedora:rawhide
.images:all:
  - ubuntu:20.04
  - ubuntu:22.04
  - fedora:rawhide

.runner-arch:independent:
  tags:
    - linux
    - docker
.runner-arch:dependent:
  tags:
    - linux
    - docker
    - $ARCHITECTURE

.targets:all:
  - rust-image
  - client-image
  - server-image

.create-images:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
    - if: $CI_COMMIT_BRANCH
      changes:
        paths:
          - ci/**/*
          - .gitlab-ci.yml
        compare_to: main
      variables:
        IMAGE_VERSION: "branch-$CI_COMMIT_BRANCH"

create-images:build:
  stage: create-images
  extends:
    - .runner-arch:dependent
    - .create-images
  image:
    name: gcr.io/kaniko-project/executor:v1.19.2-debug
    entrypoint: [""]
  variables:
    IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
  script:
    - >-
      /kaniko/executor
      --snapshot-mode redo
      --single-snapshot
      --ignore-var-run
      --ignore-path /dev
      --ignore-path /proc
      --use-new-run
      --context "$CI_PROJECT_DIR/ci/images/"
      --build-arg IMAGE_BASE
      --build-arg OS_VARIANT
      --build-arg ARCHITECTURE
      --target $IMAGE_TARGET
      --skip-unused-stages
      --destination "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$ARCHITECTURE-$IMAGE_BASE"
      --registry-certificate "$CI_REGISTRY=$CI_SERVER_TLS_CA_FILE"
  parallel:
    matrix:
      - OS_VARIANT: debian
        IMAGE_BASE: !reference [.images:debian]
        ARCHITECTURE: !reference [.architectures:all]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: !reference [.images:fedora]
        ARCHITECTURE: !reference [.architectures:all]
        IMAGE_TARGET: !reference [.targets:all]

create-images:deploy-multiarch:
  stage: create-images
  image:
    name: mplatform/manifest-tool:alpine
    entrypoint: [""]
  extends:
    - .runner-arch:independent
    - .create-images
  script:
    - cat "$CI_SERVER_TLS_CA_FILE" >> /etc/ssl/certs/ca-certificates.crt
    - >-
      /manifest-tool
      --username $CI_REGISTRY_USER
      --password $CI_REGISTRY_PASSWORD
      push
      from-args
      --platforms linux/amd64,linux/arm64
      --template "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-ARCH-$IMAGE_BASE"
      --target "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$IMAGE_BASE"
  parallel:
    matrix:
      - OS_VARIANT: debian
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: !reference [.targets:all]
      - OS_VARIANT: fedora
        IMAGE_BASE: !reference [.images:fedora]
        IMAGE_TARGET: !reference [.targets:all]
  needs:
    - job: create-images:build

.cargo:
  before_script:
    - cd "$CRATE"
  interruptible: true
  variables:
    OS_VARIANT: debian
    IMAGE_BASE: ubuntu:20.04
    IMAGE_TARGET: rust-image
    IMAGE_VERSION: "$CI_DEFAULT_BRANCH"
    IMAGE: "$CI_REGISTRY_IMAGE/$IMAGE_VERSION-$IMAGE_TARGET-$IMAGE_BASE"
  image: $IMAGE
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        paths:
          - ci/**/*
          - .gitlab-ci.yml
        compare_to: main
      variables:
        IMAGE_VERSION: "branch-$CI_COMMIT_BRANCH"
    - if: $CI_COMMIT_BRANCH
      variables:
        IMAGE_VERSION: "$CI_DEFAULT_BRANCH"

cargo:check-build-test:
  stage: check-build-test
  extends:
    - .runner-arch:dependent
    - .cargo
  script:
    - cargo fmt -- --check
    - cargo build && git diff-index --quiet HEAD -- && cargo clean
    - cargo test && git diff-index --quiet HEAD -- && cargo clean
    - cargo build --release && git diff-index --quiet HEAD --
    - |-
      if [[ -f target/release/aperturec-$CRATE ]]; then
        mv target/release/aperturec-$CRATE target/release/aperturec-$CRATE-$IMAGE_BASE-$ARCHITECTURE
      fi
  parallel:
    matrix:
      - CRATE: !reference [.crates:no-extra-depends]
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: rust-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATE: server
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: server-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATE: client
        IMAGE_BASE: !reference [.images:all]
        IMAGE_TARGET: client-image
        ARCHITECTURE: !reference [.architectures:all]
  needs:
    - job: create-images:deploy-multiarch
      optional: true
  artifacts:
    paths: [$CRATE/target/release/aperturec-$CRATE-$IMAGE_BASE-$ARCHITECTURE]

cargo:doc:
  stage: doc
  extends:
    - .cargo
    - .runner-arch:independent
  script:
    - cargo doc
  artifacts:
    paths:
      - $CRATE/target/doc/aperturec_$CRATE/
  parallel:
    matrix:
      - CRATE: !reference [.crates:no-extra-depends]
        IMAGE_TARGET: rust-image
      - CRATE: server
        IMAGE_TARGET: server-image
      - CRATE: client
        IMAGE_TARGET: client-image
  needs:
    - job: cargo:check-build-test

package:create-deb:
  stage: package
  extends:
    - .cargo
    - .runner-arch:dependent
  script:
    - mv target/release/aperturec-$CRATE-$IMAGE_BASE-$ARCHITECTURE target/release/aperturec-$CRATE
    - cargo deb -o ./target/$(lsb_release -i -s | tr "A-Z" "a-z")/$(lsb_release -c -s)/ --deb-revision="$CI_PIPELINE_IID" --no-build -- --release
  artifacts:
    paths: [$CRATE/target/*/*/aperturec-$CRATE_*_*.deb]
  needs:
    - job: cargo:check-build-test
      parallel:
        matrix:
          - CRATE: server
            IMAGE_BASE: !reference [.images:debian]
            IMAGE_TARGET: server-image
            ARCHIECTURE: !reference [.architectures:all]
          - CRATE: client
            IMAGE_BASE: !reference [.images:debian]
            IMAGE_TARGET: client-image
            ARCHIECTURE: !reference [.architectures:all]
  parallel:
    matrix:
      - CRATE: server
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: server-image
        ARCHITECTURE: !reference [.architectures:all]
      - CRATE: client
        IMAGE_BASE: !reference [.images:debian]
        IMAGE_TARGET: client-image
        ARCHITECTURE: !reference [.architectures:all]

package:push-deb:
  stage: package
  extends:
    - .runner-arch:independent
  image:
    name: ruby:slim-bookworm
    entrypoint: [""]
  script:
    - gem install package_cloud
    - ./ci/scripts/package_upload.sh $CRATE
  parallel:
    matrix:
      - CRATE: !reference [.crates:package]
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  needs:
    - job: package:create-deb
