[workspace]
members = ["channel", "client", "metrics", "protocol", "server", "state_machine", "trace"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
lto = "fat"
codegen-units = 1
