# Configurations for x86 (Haswell-ish)
[target.x86_64-unknown-linux-gnu]
rustflags = [
  "-C", "target-cpu=x86-64-v3",
  "--cfg", "s2n_quic_unstable"
]

[target.x86_64-apple-darwin]
rustflags = [
  "-C", "target-cpu=x86-64-v3",
  "--cfg", "s2n_quic_unstable"
]

# Configuration for ARM (Graviton2 baseline)
[target.aarch64-unknown-linux-gnu]
rustflags = [
  "-C", "target-cpu=neoverse-n1", # Graviton2 uses Neoverse N1 architecture
  "--cfg", "s2n_quic_unstable"
]

[build]
rustdocflags = ["--cfg", "s2n_quic_unstable"]
