on:
  push:
    branches:
      - main


permissions:
  contents: write
  issues: write
  pull-requests: write

name: Release Pull Requests

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@4cd397a333e5500c1683589c277f56a3c10990e6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
